.ItemContainer{
    background-color: blanchedalmond;
    height: 300px;
    width: 205px;
    margin: 50px;
}
.Img{
    width: 200px;
    height: 100px;
    
}

.txt{
    color: black;
    text-align: center;
}

.buttons{
    margin: 5px;
    display: flex;  
    flex-direction: block; 
    justify-content: center;
}